body {
    background-color: #F8F9FA;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

h2 {
    font-size: 45px;
}

.edit-text,
button,
.post-form {
    font-family: 'serif';
    font-style: italic;
    font-weight: 100;
    font-size: 20px;
    text-align: justify;
}


/*
Header
*/

.page-header {
    background-color: #6B8E23;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
    height: 150px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    margin: 20px 40px;
    text-align: center;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin: 30px auto;
}


/*
Content
*/

.content {
    margin-left: 40px;
}

div .container {
    margin: 0 auto;
    padding: 0;
    width: 95%;
}

.row {
    margin: 0 auto;
}

.col-md-2,
.col-md-4,
.col-md-8 {
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
}

.card {
    padding: 30px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    width: 95%;
    border: 1px solid rgba(0, 0, 0, .125);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.date {
    color: #828282;
    padding: 30px 20px;
}

.content-title {
    padding: 20px;
    text-align: left;
}

.text-content {
    font-family: 'serif';
    font-style: italic;
    font-weight: 100;
    font-size: 20px;
    text-align: justify;
    padding: 20px;
}


/*
*
*/

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.post {
    margin-bottom: 70px;
}

.new_title,
.post h2 a,
.post h2 a:visited {
    color: #428bca;
}

.form,
.post {
    margin: auto;
    width: 95%;
    padding: 10px;
}


/*
Footer
*/

.footer-copyright {
    margin-bottom: 0;
    margin-top: 80px;
    padding: 20px;
    background-color: #6B8E23;
    vertical-align: middle;
    color: #fff;
}